.panel-1col {
	
}
.panel-2col .panel-col-first .inside {
	MARGIN: 0px
}
.panel-1col .panel-col {
	
}
#panels-edit-display .panel-pane {
	MARGIN: 0.5em
}
#panels-edit-display .helperclass {
	MARGIN: 0.5em
}
.panel-2col .panel-separator {
	MARGIN: 0px 0px 1em
}
